In [2]:
import pandas as pd
import mysql.connector

# import dataframs

In [3]:
product_table = pd.read_csv('Product.csv')
product_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [3]:
order_table = pd.read_csv('Order.csv')
order_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [4]:
manufacturer_table = pd.read_csv('Manufacturer.csv')
manufacturer_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [5]:
branch_table = pd.read_csv('Branch.csv')
branch_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [6]:
os_table = pd.read_csv('OS.csv')
os_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [7]:
os_ver_table = pd.read_csv('OS_Version.csv')
os_ver_table.drop('Unnamed: 0', axis = 1, inplace = True)
os_ver_table.fillna('null', inplace = True)

In [8]:
category_table = pd.read_csv('Category.csv')
category_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [9]:
screen_table = pd.read_csv('Screen_Type.csv')
screen_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [10]:
screen_size_table = pd.read_csv('Screen_Size.csv')
screen_size_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [11]:
cpu_table = pd.read_csv('CPU.csv')
cpu_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [12]:
gpu_table = pd.read_csv('GPU.csv')
gpu_table.drop('Unnamed: 0', axis = 1, inplace = True)
gpu_table.fillna('null', inplace = True)

In [13]:
priority_table = pd.read_csv('Priority.csv')
priority_table.drop('Unnamed: 0', axis = 1, inplace = True)

# SQL

In [44]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="a*7EE166B4")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Litopia")

In [45]:
mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="a*7EE166B4",
  database="Litopia")
mycursor = mydb.cursor()

In [46]:
def insert(sql, df):
    cols = list(df.columns)
    rec = list()
    for i in range(df.shape[0]):
        rec = list()
        for c in cols:
            col_type = str(df[c].dtype)
            if col_type == 'int64':
                r = int(df[c][i])
            elif col_type == 'float64':
                r = float(df[c][i])
            else:
                r = df[c][i]
            rec.append(r)
        record = tuple(rec)
        mycursor.execute(sql, record)
    mydb.commit()

# manufacturer

In [47]:
mycursor.execute('create table Manufacturer(ID int primary key, Manufacturer_Name varchar(20))')

In [48]:
sql = 'insert into Manufacturer(ID, Manufacturer_Name) values(%s, %s)'
insert(sql, manufacturer_table)

# category

In [49]:
mycursor.execute('create table Category(ID int primary key, Category_Name varchar(30))')

In [50]:
sql = 'insert into Category(ID, Category_Name) values(%s, %s)'
insert(sql, category_table)

# screen_type

In [51]:
mycursor.execute('create table Screen_Type(ID int primary key, Screen_Type varchar(50))')

In [52]:
sql = 'insert into Screen_Type(ID, Screen_Type) values(%s, %s)'
insert(sql, screen_table)

# screen_size

In [53]:
mycursor.execute('create table Screen_Size(ID int primary key, Screen_Size decimal(3,1))')

In [54]:
sql = 'insert into Screen_Size(ID, Screen_Size) values(%s, %s)'
insert(sql, screen_size_table)

# CPU

In [55]:
mycursor.execute('create table CPU(ID int primary key, CPU_info varchar(50), CPU_Brand varchar(11), CPU_Model varchar(40), CPU_Speed decimal(4,2))')

In [56]:
sql = 'insert into CPU() values(%s, %s, %s, %s, %s)'
insert(sql, cpu_table)

# GPU

In [57]:
mycursor.execute('create table GPU(ID int primary key, GPU_info varchar(50), GPU_Brand varchar(11), GPU_Kind varchar(11), GPU_Model varchar(20))')

In [58]:
sql = 'insert into GPU() values(%s, %s, %s, %s, %s)'
insert(sql, gpu_table)

# OS

In [59]:
mycursor.execute('create table OS(ID int primary key, OS_info varchar(20))')

In [60]:
sql = 'insert into OS(ID, OS_info) values(%s, %s)'
insert(sql, os_table)

# os version

In [61]:
mycursor.execute('create table OS_Version(ID int primary key, OS_Version varchar(8))')

In [62]:
sql = 'insert into OS_Version(ID, OS_Version) values(%s, %s)'
insert(sql, os_ver_table)

# branch

In [63]:
mycursor.execute('create table Branch(ID int primary key, Branch_Name varchar(11))')

In [64]:
sql = 'insert into Branch(ID, Branch_Name) values(%s, %s)'
insert(sql, branch_table)

# priority

In [65]:
mycursor.execute('create table Priority(ID int primary key, Priority varchar(8))')

In [66]:
sql = 'insert into Priority(ID, Priority) values(%s, %s)'
insert(sql, priority_table)

# product

In [67]:
mycursor.execute('create table Product(\
ID int primary key auto_increment,\
Model_Name varchar(50),\
Manufacturer_ID int,\
Category_ID int,\
Screen_Size_ID int,\
Screen_Type_ID int,\
RAM tinyint,\
CPU_ID int,\
GPU_ID int,\
SSD_Storage int,\
HDD_Storage int,\
Weight decimal(3,2),\
OS_ID int,\
OS_Version_ID int,\
FOREIGN KEY (Manufacturer_ID) REFERENCES Manufacturer(ID),\
FOREIGN KEY (Category_ID) REFERENCES Category(ID),\
FOREIGN KEY (Screen_Type_ID) REFERENCES Screen_Type(ID),\
FOREIGN KEY (Screen_Size_ID) REFERENCES Screen_Size(ID),\
FOREIGN KEY (CPU_ID) REFERENCES CPU(ID),\
FOREIGN KEY (GPU_ID) REFERENCES GPU(ID),\
FOREIGN KEY (OS_ID) REFERENCES OS(ID),\
FOREIGN KEY (OS_Version_ID) REFERENCES OS_Version(ID))')

In [68]:
sql = 'insert into Product(Model_Name, Manufacturer_ID, Category_ID, Screen_Size_ID, Screen_Type_ID, RAM,\
CPU_ID, GPU_ID, SSD_Storage, HDD_Storage, Weight, OS_ID, OS_version_ID)\
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
insert(sql, product_table.drop('ID', axis = 1))

# order

In [69]:
order_table.columns

Index(['Order_ID', 'Branch_ID', 'Priority_ID', 'Product_ID', 'Order_Date',
       'Date', 'Price', 'Total_Price', 'Discount', 'Quantity', 'Profit',
       'Ship_Duration'],
      dtype='object')

In [70]:
mycursor.execute('create table Orders(\
ID int primary key,\
Branch_ID int,\
Priority_ID int,\
Product_ID int,\
Order_Date varchar(10),\
Date date,\
Price int,\
Total_Price int,\
Discount int,\
Quantity int,\
Profit int,\
Ship_Duration int,\
FOREIGN KEY (Branch_ID) REFERENCES Branch(ID),\
FOREIGN KEY (Product_ID) REFERENCES Product(ID),\
FOREIGN KEY (Priority_ID) REFERENCES Priority(ID))')

In [71]:
sql = 'insert into Orders() values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
insert(sql, order_table)