In [85]:
import pandas as pd
import mysql.connector

# import dataframs

In [86]:
product_table = pd.read_csv('Product.csv')
product_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [87]:
order_table = pd.read_csv('Order.csv')
order_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [88]:
manufacturer_table = pd.read_csv('Manufacturer.csv')
manufacturer_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [89]:
branch_table = pd.read_csv('Branch.csv')
branch_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [90]:
os_table = pd.read_csv('OS.csv')
os_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [91]:
os_ver_table = pd.read_csv('OS_Version.csv')
os_ver_table.drop('Unnamed: 0', axis = 1, inplace = True)
os_ver_table.fillna('null', inplace = True)

In [92]:
category_table = pd.read_csv('Category.csv')
category_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [93]:
screen_table = pd.read_csv('Screen_Type.csv')
screen_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [94]:
cpu_table = pd.read_csv('CPU.csv')
cpu_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [95]:
gpu_table = pd.read_csv('GPU.csv')
gpu_table.drop('Unnamed: 0', axis = 1, inplace = True)
gpu_table.fillna('null', inplace = True)

In [96]:
priority_table = pd.read_csv('Priority.csv')
priority_table.drop('Unnamed: 0', axis = 1, inplace = True)

In [97]:
price_table = pd.read_csv('Price.csv')
price_table.drop('Unnamed: 0', axis = 1, inplace = True)

# SQL

In [98]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="a*7EE166B4")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Litopia")

In [99]:
mydb = mysql.connector.connect(
   host="localhost",
  user="root",
  password="a*7EE166B4",
  database="Litopia")
mycursor = mydb.cursor()

In [100]:
def insert(sql, df):
    cols = list(df.columns)
    rec = list()
    for i in range(df.shape[0]):
        rec = list()
        for c in cols:
            col_type = str(df[c].dtype)
            if col_type == 'int64':
                r = int(df[c][i])
            elif col_type == 'float64':
                r = float(df[c][i])
            else:
                r = df[c][i]
            rec.append(r)
        record = tuple(rec)
        mycursor.execute(sql, record)
    mydb.commit()

# manufacturer

In [101]:
mycursor.execute('create table Manufacturer(ID int primary key, Manufacturer_Name varchar(20))')

In [102]:
sql = 'insert into Manufacturer(ID, Manufacturer_Name) values(%s, %s)'
insert(sql, manufacturer_table)

# category

In [103]:
mycursor.execute('create table Category(ID int primary key, Category_Name varchar(30))')

In [104]:
sql = 'insert into Category(ID, Category_Name) values(%s, %s)'
insert(sql, category_table)

# screen_type

In [105]:
mycursor.execute('create table Screen_Type(ID int primary key, Screen_Type varchar(50))')

In [106]:
sql = 'insert into Screen_Type(ID, Screen_Type) values(%s, %s)'
insert(sql, screen_table)

# CPU

In [107]:
mycursor.execute('create table CPU(ID int primary key, CPU_info varchar(50), CPU_Brand varchar(11), CPU_Model varchar(40), CPU_Speed decimal(4,2))')

In [108]:
sql = 'insert into CPU() values(%s, %s, %s, %s, %s)'
insert(sql, cpu_table)

# GPU

In [109]:
mycursor.execute('create table GPU(ID int primary key, GPU_info varchar(50), GPU_Brand varchar(11), GPU_Kind varchar(11), GPU_Model varchar(20))')

In [110]:
sql = 'insert into GPU() values(%s, %s, %s, %s, %s)'
insert(sql, gpu_table)

# OS

In [111]:
mycursor.execute('create table OS(ID int primary key, OS_info varchar(20))')

In [112]:
sql = 'insert into OS(ID, OS_info) values(%s, %s)'
insert(sql, os_table)

# os version

In [113]:
mycursor.execute('create table OS_Version(ID int primary key, OS_Version varchar(8))')

In [114]:
sql = 'insert into OS_Version(ID, OS_Version) values(%s, %s)'
insert(sql, os_ver_table)

# branch

In [115]:
mycursor.execute('create table Branch(ID int primary key, Branch_Name varchar(11))')

In [116]:
sql = 'insert into Branch(ID, Branch_Name) values(%s, %s)'
insert(sql, branch_table)

# priority

In [117]:
mycursor.execute('create table Priority(ID int primary key, Priority varchar(8))')

In [118]:
sql = 'insert into Priority(ID, Priority) values(%s, %s)'
insert(sql, priority_table)

# product

In [119]:
mycursor.execute('create table Product(\
ID int primary key auto_increment,\
Model_Name varchar(50),\
Manufacturer_ID int,\
Category_ID int,\
Screen_Size decimal(3,1),\
Screen_Type_ID int,\
RAM tinyint,\
CPU_ID int,\
GPU_ID int,\
SSD_Storage int,\
HDD_Storage int,\
Weight decimal(3,2),\
OS_ID int,\
OS_Version_ID int,\
FOREIGN KEY (Manufacturer_ID) REFERENCES Manufacturer(ID),\
FOREIGN KEY (Category_ID) REFERENCES Category(ID),\
FOREIGN KEY (Screen_Type_ID) REFERENCES Screen_Type(ID),\
FOREIGN KEY (CPU_ID) REFERENCES CPU(ID),\
FOREIGN KEY (GPU_ID) REFERENCES GPU(ID),\
FOREIGN KEY (OS_ID) REFERENCES OS(ID),\
FOREIGN KEY (OS_Version_ID) REFERENCES OS_Version(ID))')

In [120]:
sql = 'insert into Product(Model_Name, Manufacturer_ID, Category_ID, Screen_Size, Screen_Type_ID, RAM,\
CPU_ID, GPU_ID, SSD_Storage, HDD_Storage, Weight, OS_ID, OS_version_ID)\
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
insert(sql, product_table.drop('ID', axis = 1))

# order

In [121]:
order_table.columns

Index(['Order_ID', 'Branch_ID', 'Product_ID', 'Order_Date', 'Date',
       'Total_Price', 'Priority_ID', 'Quantity', 'Profit', 'Ship_Duration'],
      dtype='object')

In [122]:
mycursor.execute('create table Orders(\
ID int primary key,\
Branch_ID int,\
Product_ID int,\
Order_Date varchar(10),\
Date date,\
Total_Price int,\
Priority_ID int,\
Quantity int,\
Profit int,\
Ship_Duration int,\
FOREIGN KEY (Branch_ID) REFERENCES Branch(ID),\
FOREIGN KEY (Product_ID) REFERENCES Product(ID),\
FOREIGN KEY (Priority_ID) REFERENCES Priority(ID))')

In [123]:
sql = 'insert into Orders() values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
insert(sql, order_table)

# price

In [124]:
mycursor.execute('create table Price(\
ID int primary key auto_increment,\
Product_ID int,\
Date date,\
Price int,\
Discount int,\
FOREIGN KEY (Product_ID) REFERENCES Product(ID))')

In [125]:
sql = 'insert into Price(Product_ID, Date, Price, Discount) values(%s, %s, %s, %s)'
insert(sql, price_table)